.absContainer {
  position: absolute;
  margin: auto;
  z-index: 1 !important;
}

.vh100 {
  height: 100vh !important;
}

.vw95 {
  width: 95vw !important;
}

.spawn {
  position: absolute;
  left: 10vw;
  top: 25vh;
  background-color: #F8C57C;
  border: 2px solid #F1938F;
  z-index: 1;
}

.modalClose {
  float: right;
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.padL25cents {
  padding-left: 25%;
}

.textPlain {
  text-decoration: none;
  color: inherit;
}

.aWhite a{
  color: white !important;
}

.dropdownMenu ul{
  background-color: indianred !important;
}

.dropdownMenu :global(a){
  background-color: inherit !important;
  color: white !important;
}

.textWhite{
  color: white !important;
}



.backToWhite span{
  background-color: white !important;
}

.backgroundRed {
  background-color: indianred !important;
  border-color: #B85853 !important;
}